.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensure the container fills the viewport */
}

#anuncio h2 {
  min-height: 30px; /* Adjust based on your design */
}


h1 {
  color: fuchsia;
  font-size: 7vmin;
  text-transform: capitalize;
  margin-top: 10vmin;
  margin-bottom: 0vmin;
  
}

#board {
  display: grid;
  /* 10vmin is width of columns and but 10vmin for rows is the height
   for rows when we set measure its the height*/
  grid-template-columns: repeat(4, 10vmin);
  grid-template-rows: repeat(3, 10vmin);
  gap: 10vmin;
  margin-top: 1vmin;
  margin-bottom: 20vmin;
}

#board>img {
  border-radius: 10%;
  border: 0.1vmin solid fuchsia;
  background-color: fuchsia;
}